<div class="card">
   <h3>Create Template for Event</h3>
   <div class="card-body">
     <form [formGroup]="Form">
      <div>
      <label>Title</label>
      <mat-form-field >
        <input matInput  type='text' name="name"   formControlName="title"/>
        </mat-form-field>
      </div>

      <div>
        <label>Marketing Creatives</label>
          <mat-form-field>
            <div>
              <mat-toolbar>
                <input matInput [(ngModel)]="fileAttr" style="visibility:hidden;" readonly name="name" />
                <button mat-flat-button color="primary">Browse File</button>
              </mat-toolbar>
              <input
                type="file"
                #fileInput
                id="uploadFile"
                (change)="uploadFileEvt($event)"
                name="uploadFile"
                multiple="multiple"
                accept="image/*"
              />
            </div>
          </mat-form-field>
          </div>

    <div>
      <label>Mode</label>
      <mat-form-field >
        <mat-select   formControlName="mode"  >
          <mat-option value="online">online</mat-option>
          <mat-option value="offline">offline</mat-option>
        </mat-select>
      </mat-form-field>
</div>

<div>
  <label>Event Goal</label>
  <mat-form-field >
    <mat-select   formControlName="event_goal_id">
      <mat-option *ngFor="let data of event_goal" value="{{data.id}}">{{data.title}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

    <div>
      <label>Event Reach</label>
      <mat-form-field >
        <input matInput  type='number' name="name" formControlName="est_reach" />

      </mat-form-field>
    </div>


    <div>
      <label>Event Budget</label>
      <mat-form-field >
        <input matInput  type='number' name="name" formControlName="est_budget" />

      </mat-form-field>
    </div>

    <div>
      <label>Event days</label>
      <mat-form-field >
        <input matInput  type='number' name="name" formControlName="event_days" />

      </mat-form-field>
    </div>

    <div>
      <label>Status</label>
      <mat-form-field >
        <mat-select   formControlName="status"  >
          <mat-option value=1>active</mat-option>
          <mat-option value=0>in-active</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <div class="form-group" style="width: 30%;">
        <label>Success Matrix</label>
        <ng-multiselect-dropdown  style="height: 200px; width: 200px; background-color: #f7f9fc;
        border-color: #e4e9f2;
        color: #222b45; margin-left: 260px;"
         [placeholder]="'Select Store'"
          [settings]="dropdownSettings"
          formControlName="event_metrics"
          
         [data]="dropdownList" >
     </ng-multiselect-dropdown> 
          </div>
    </div>
    <div>
      <div class="form-group" style="width: 30%;">
        <label>User Type</label>
        <ng-multiselect-dropdown  style="height: 200px; width: 200px; background-color: #f7f9fc;
        border-color: #e4e9f2;
        color: #222b45; margin-left: 260px;"
         [placeholder]="'Select Store'"
          [settings]="dropdownSettings1"
          formControlName="event_user_types"
          
         [data]="dropdownList1" >
     </ng-multiselect-dropdown> 
          </div>
    </div>

    </form>
    
    <button mat-raised-button (click)="save()" color="primary" style="margin-left:30px; width:200px">Save Data</button>

   </div>

 </div>