.mat-form-field {
    width: 300px !important;
}

label{
    text-decoration: solid;
    color: #000;
    font-size: 16px;
    margin-right: 13px;
}
h3 {
    display: flex;
    justify-content: center;
}