h1{
    background-color: blanchedalmond;
}
.flex-class{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
h3{
    margin-bottom: 2px;
}

p{
    margin-bottom: 0px;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.main{
    display: flex;
    justify-content: space-between;
}