  <div class="card card-user" *ngFor="let data of EventData;index as i">
      <div class="card-header">
        <div class="card-body">
          <div class="main" >
          <div class="flex-class" >

            <div>

              <div class="flex-class">
              <div>
              <img src="{{data.banner_url}}" height="150px" width="150px">
            </div>
            <div>
              <h5>{{data.title}}</h5>
             <p>Brand Awareness </p>
             <p>Expected 500 Footfalls </p>
             <p>Yaduvanshi store + 10 more store...</p>
            </div>
              </div>
            </div>

          <div style="margin-left:40px;">

            <p class="badge badge-secondary">Sponsorship</p><br>
            <p class="badge badge-warning">events</p>
          </div>
        </div>

        <div class="flex-end">

          <div>

            <div class="flex-end">
          <div style="margin-right:80px">
           <p><b>Expected Budget -</b> <i>Rs.{{data.event_models.est_budget}}</i></p>
          </div>
            </div>
          </div>

        <div >

          <button class="badge badge-dark" style="background-color: black; color:white" mat-raised-button (click)='save(data)'>View</button>

        </div>
      </div>


                 
      </div>
    </div>
  </div>

    </div>


 <!--    <div class="card card-user">
      <div class="card-header">
        <div class="card-body">
          <div class="main">
          <div class="flex-class">

            <div>

              <div class="flex-class">
              <div>
              <img src="https://dummyimage.com/150x150/423b42/fff">
            </div>
            <div>
              <h5> Rewari Premier League</h5>
             <p>Brand Awareness </p>
             <p>Expected 500 Footfalls </p>
             <p>Yaduvanshi store + 10 more store...</p>
            </div>
              </div>
            </div>

          <div style="margin-left:40px;">

            <p class="badge badge-secondary">Sponsorship</p><br>
            <p class="badge badge-warning">warning</p>
          </div>
        </div>

        <div class="flex-end">

          <div>

            <div class="flex-end">
          <div style="margin-right:80px">
           <p><b>Expected Budget -</b> <i>INR 15k</i></p>
          </div>
            </div>
          </div>

        <div >

          <button class="badge badge-dark">View</button>

        </div>
      </div>


                 
      </div>
    </div>
  </div>

    </div>


    <div class="card card-user">
      <div class="card-header">
        <div class="card-body">
          <div class="main">
          <div class="flex-class">

            <div>

              <div class="flex-class">
              <div>
              <img src="https://dummyimage.com/150x150/423b42/fff">
            </div>
            <div>
              <h5> Rewari Premier League</h5>
             <p>Brand Awareness </p>
             <p>Expected 500 Footfalls </p>
             <p>Yaduvanshi store + 10 more store...</p>
            </div>
              </div>
            </div>

          <div style="margin-left:40px;">

            <p class="badge badge-secondary">Sponsorship</p><br>
            <p class="badge badge-warning">warning</p>
          </div>
        </div>

        <div class="flex-end">

          <div>

            <div class="flex-end">
          <div style="margin-right:80px">
           <p><b>Expected Budget -</b> <i>INR 15k</i></p>
          </div>
            </div>
          </div>

        <div >

          <button class="badge badge-dark">View</button>

        </div>
      </div>


                 
      </div>
    </div>
  </div>

    </div> -->

