
.card{
  margin: 5px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: lightgray;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: lightcoral;
}
::ng-deep .mat-horizontal-content-container{
  height: 800px;
}
.mat-form-field {
  width: 200px !important;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}
.mat-toolbar-single-row button {
  width: 200px;
}
.mat-form-field {
  width: 80%;
}
#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;    
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
label{
  text-decoration: solid;
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}
.icons{
  color: red;
}