<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 pr-1">
        <div class="form-group">
          <label>Marketing Channels</label>
          <mat-form-field>
          <input matInput type="text"  placeholder="Channels" >
          </mat-form-field>
        </div>
      </div>


    <div class="col-md-6 pr-1">
      <label>Marketing Creatives</label>
        <mat-form-field>
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input matInput [(ngModel)]="fileAttr" style="visibility:hidden;" readonly name="name" />
              <!-- Browse Button -->
              <button mat-flat-button color="primary" >Browse File</button>
            </mat-toolbar>
            <input
              type="file"
              #fileInput
              id="uploadFile"
              (change)="uploadFileEvt($event)"
              name="uploadFile"
              multiple="multiple"
              accept="image/*"
            />
          </div>
        </mat-form-field>
        </div>
    </div>

    <div >
      <div>
        <div>
          <label>Template Id</label>
          <mat-form-field>
          <input matInput type="number"  placeholder="Template Id" >
        </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      <label>Campaign Start date</label>
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [(ngModel)]="test">
        
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
        </div>
      </div>
    </div>
  </div>

</div>