
<div class="btn btn-primary" (click)="convertToPng()">Download Image</div>
<div style="display:flex; justify-content:center">

  <div   #screen class="card" width:500px>
    <img src="../../../assets/img/section-logo.png" style="height: 30px; width: 100%;">

    <img src="../../../assets/img/1k-logos.svg" style="width:200px; margin-top:110px">

    <h2>O2O Gate</h2>

    <div style="border: 8px solid;">
     <!--  <img src="{{EventData.qr_code}}" style="border:5px solid; height:300px;"> -->
     <ngx-qrcode
     [elementType]="elementType"
     [errorCorrectionLevel]="correctionLevel"
     [width]="319"
     [value]="value"
     cssClass="bshadow" style="width: 319px;"></ngx-qrcode>


    </div>

    <div>
      <h3>Please Scan The Code</h3>
    </div>

    <div style="margin-top: 30px;">
      <h4>{{EventData.title}}</h4>

    </div>

    <div>
      <p>Mayur Vihar sector 10,gurgaon</p>
    </div>

  </div>

</div>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>