
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Create Event</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="Form">

          <div class="row">
            <div style="margin-left: 10px;">
              <label>Success Matrix</label>
              <ng-multiselect-dropdown  style="height: 200px; width: 200px; background-color: #f7f9fc;
              border-color: #e4e9f2;
              color: #222b45; margin-left: 260px;"
               [placeholder]="'Select Matrix'"
                [settings]="dropdownSettings1"
                formControlName="event_metrics"
               [data]="dropdownList1"
               (ngModelChange)="changes($event)">
           </ng-multiselect-dropdown> 
                </div>
             <div class="col-md-5 pl-1">
              <div class="form-group">
                <label>Select store</label>
                <ng-multiselect-dropdown  style="width: 80%; height: 200px; background-color: #f7f9fc;
                border-color: #e4e9f2;
                color: #222b45; margin-left: 260px;"
                 [placeholder]="'Select Store'"
                  [settings]="dropdownSettings"
                  formControlName="store_id"
                 [data]="dropdownList" >
             </ng-multiselect-dropdown> 
                  </div>
            </div>
          </div>
            <div class="form-group" >
          <div class="col-md-4 pl-1">
            <label for="exampleInputEmail1">Select Success Matrix</label>
  <div>
    <label for="exampleInputEmail1">Budget</label>
    <mat-slider
    thumbLabel
    (change)="formatLabel($event)"
    tickInterval="100"
    step="100"
    min="0"
    max="10000"
    aria-label="units"></mat-slider>
  </div>
  
          </div>
          </div>
        </form>
      </div>
    </div>

    <div style="display: flex; justify-content:space-between">
    <h3>Select template or create a new template from scratch</h3>
    <div class="update ml-auto mr-auto">
      <button type="submit" class="btn btn-primary btn-round" routerLink="/createTemplate">Create new Template</button>
    </div>
    </div>

    <div >   
      <div class="container"> 
          <div class="row">
              <div class="card col-md-4" *ngFor="let dat of data">
                  <div class="card-block">
                          
     
            <img src="https://dummyimage.com/230x150/423b42/fff">
   

            <p>{{dat.est_budget}}</p>
            <p>{{dat.title}}</p>
            <p>{{dat.value}}</p>
    
        
                  <button type="submit" (click)="save(dat.id)"class="btn btn-primary btn-round">Save</button>
                  </div>
              </div>
          </div>
      </div>

</div>